.kenarlik{
  border: 1px solid black;
}
p{
  margin: 0;
}
.container {
  height: auto;
  width: 100%;
  margin: auto;
}
.header{
  display: grid;
  grid-template-rows: 25px 50px;
  grid-template-columns: 33% 33% 32%;
}
.header > .solust{
  grid-row: 1/2;
  grid-column: 1/2;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5% 35% 5% 45%;
  padding: 1px;
}
.header .sagust{
  grid-row: 1/2;
  grid-column: 3/4;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 35% 35% 30%;
  padding: 1px;
}
.sagust > p{
  text-align: center;
}
.header > .solalt{
  grid-row: 2/3;
  grid-column: 1/2;
  background: yellow;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 75% 25%;
}
.solalt >button{
  background-color:#ffd15c;
}
.header > .altorta{
  grid-row: 2/3;
  grid-column: 2/3;
}
.altorta >img{
  height: 100%;
  width: 100%;
}
.header > .sagalt{
  display: flex;
  grid-row: 2/3;
  grid-column: 3/4;

}
.sepet{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 12% 88%;
}
.sepet >.item{
  grid-column: 2/4;
  background: #ffd15c;
  padding: 15px;
  text-align: center;
}
.sepet >p{
  margin: auto 0;
}
.sepet > img {
  grid-column: 1/2;
  height: 90%;
  width: 90%;
  margin: auto;
}
.navbar{
  background: #f5f5f5;
  display: grid;
  width: 98%;
  height: 50px;
  margin: 5px 0 0 0;
  border-bottom: 5px solid #ffd15c;
  grid-template-rows: 50px;
  grid-template-columns: 5% 12% 15% 14% 13% 17% 8% 16%;
}
.navbar > a {
  text-decoration:none;
  color: inherit;
  text-align: center;

  margin: auto;
}
.navbar >a:hover{
  background: #ffd15c;
  color: #f5f5f5;
  text-decoration: none;
}
.section{
  margin: 15px 10px;
  width: 97%;
  display: grid;
  grid-template-columns:75% 25%;
  grid-template-rows: 100%;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
}
.fırsat{
  display: grid;
  grid-template-rows: 10% 5% 60% 5% 8% 10%;
  grid-template-columns: 100%;
  border: 1px solid #ffd15c;
  margin: 0 0 0 5px;
  text-align: center;
  font-family: sans-serif;
}
.fırsat > .resim {
  grid-row: 3/4;
  overflow: hidden;
}
.fırsat > img{
  height: 60%;
  width: 90%;
  margin: auto;
}
.fırsat > .title{
  grid-row: 1/2;
  font-size: 1.3em;
  color: rgb(148, 148, 148);
  font-weight: bold;
}
.fırsat > .see-all-price{
  grid-row: 2/3;
  color:#ffd15c;
  font-weight: 600;
  font-size: 0.8em;
}
.fırsat > .properties{
  grid-row: 4/5;
  color: rgb(148, 148, 148);
  font-weight: 600;
  font-size: 0.6em;
}
.fırsat > .price{
  grid-row: 5/6;
  color: rgb(148, 148, 148);
  font-weight: 600;
  font-size: 0.8em;
}
.fırsat >.sepete-ekle{
  grid-row: 6/7;
  width: 50%;
  height: 100%;
  font-size: 0.8em;
}
.sepete-ekle{
  background-color: #ffd15c;
  border: none;
  border-radius: 8px;
  color:white;
  text-align: center;
  text-decoration: none;
  font-weight: 1000;
  margin: auto;
}
.sizinicin{
  margin: 10px 0 0 10px;
  font-size: 1.3em;
  color: rgb(148, 148, 148);
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 5px solid #ffd15c;
  width: 72.5%;
  height: 10%;
}
.urunler-liste{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}
.section >img{
  margin: 0 0 0 5px;
}
.urunler-liste > .kenarlik{
  border: 1px solid #ffd15c
}
.urun{
  display: grid;
  padding: 10px;
}
.urun > img{
  height: 200px;
  width: 200px;
  margin: auto;
}
.urun-detay{
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:25% 25% 25% 25%;
  display: grid;
}
.item1{
  grid-column: 1/span 4;
  text-align: center;
}
.item2{
grid-column: 1 / span 2;
}
.item3{
  grid-column: 3/ span 4;
}
.urun-detay > p{
  font-family: sans-serif;
  font-weight: 800;
  text-align: center
}
.urun-adi{
  color:rgb(150,150,150);
  font-size:13px;
}
.urun-fiyat{
  font-size: 11px;
  color: inherit;
}
.urun-indirim{
  color:rgb(249,78,102);
  font-size: 12px;
}
