@media only screen and (max-width:320px){
.header{
  display: grid;
  grid-template-rows: 100px 40px 40px;
  grid-template-columns: 33% 28% 41%;
}
.header > .solust{
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}
.solust > img{
  height: 25%;
  width: 15%;
  margin: auto;
  }
.solust > p{
  margin: auto;
  }
.header > .sagust{
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 100%;
  }
.header >.altorta{
  grid-row: 3/4;
  grid-column: 1/4;
}
.header >.solalt{
  grid-column:  1/3;
}
.sepet{
  grid-template-columns: 24% 75%;
}
.sepet >img{
  height: 70%;
}
.sepet >.item{
  padding: 0;

}
.navbar{
  height: 100px;
  font-size: 10px;
  grid-template-rows: 50px 50px;
  grid-template-columns:25% 25% 25% 25%
}
.section{
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

}
div#slider figure img {
    height: 400px;
    width: 20%;
    float: left;
}
.fırsat{
  margin-top:10px;
  width: 100%;
  height: 300px;
  grid-template-rows: 7% 7% 50% 10% 12% 12%;
  grid-template-columns: 100%;
}
.fırsat > img{
  width: 95%;
  height: 100%;
}
.fırsat >.sepete-ekle{
  width: 90%;
}
.maintitle{
  margin: 140px 0 0 10px;
  width: 98%;
}
.urunler-liste{
  grid-template-columns: 50% 50%;
  grid-template-rows:50% 50%;
}
